<a href="https://colab.research.google.com/github/evitts1989/my_lambdata_ce/blob/master/Corey_EvittsPyPi_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd        
import numpy as np
import datetime as dt

In [25]:
pip install -i https://test.pypi.org/simple/ my-date-creator==1.0

Looking in indexes: https://test.pypi.org/simple/
Collecting my-date-creator==1.0
  Downloading https://test-files.pythonhosted.org/packages/f7/30/d66ac98f3691be31f41e649d2371c636d9446272391c7120d2bbe63d1564/my_date_creator-1.0-py3-none-any.whl
Installing collected packages: my-date-creator
Successfully installed my-date-creator-1.0

In [20]:
!wget https://raw.githubusercontent.com/evitts1989/my_lambdata_ce/master/PoliceKillingsUS.csv

--2020-04-08 02:26:58--  https://raw.githubusercontent.com/evitts1989/my_lambdata_ce/master/PoliceKillingsUS.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 227653 (222K) [text/plain]
Saving to: ‘PoliceKillingsUS.csv’

PoliceKillingsUS.cs 100%[===================>] 222.32K  --.-KB/s    in 0.03s

2020-04-08 02:26:58 (7.49 MB/s) - ‘PoliceKillingsUS.csv’ saved [227653/227653]

In [0]:
df = pd.read_csv('PoliceKillingsUS.csv', encoding='latin1')

In [29]:
df.columns

Index(['id', 'name', 'date', 'manner_of_death', 'armed', 'age', 'gender',
       'race', 'city', 'state', 'signs_of_mental_illness', 'threat_level',
       'flee', 'body_camera'],
      dtype='object')

In [0]:
from my_lambdata.my_mod import month_creator
from my_lambdata.my_mod import year_creator

In [30]:
month_creator(df, 'date')

        id                name       date  ...         flee body_camera  month
0        3          Tim Elliot 2015-02-01  ...  Not fleeing       False      2
1        4    Lewis Lee Lembke 2015-02-01  ...  Not fleeing       False      2
2        5  John Paul Quintero 2015-03-01  ...  Not fleeing       False      3
3        8     Matthew Hoffman 2015-04-01  ...  Not fleeing       False      4
4        9   Michael Rodriguez 2015-04-01  ...  Not fleeing       False      4
...    ...                 ...        ...  ...          ...         ...    ...
2530  2822    Rodney E. Jacobs 2017-07-28  ...  Not fleeing       False      7
2531  2813               TK TK 2017-07-28  ...          Car       False      7
2532  2818  Dennis W. Robinson 2017-07-29  ...          Car       False      7
2533  2817       Isaiah Tucker 2017-07-31  ...          Car        True      7
2534  2815        Dwayne Jeune 2017-07-31  ...  Not fleeing       False      7

[2535 rows x 15 columns]

In [31]:
year_creator(df, 'date')

        id                name       date  ... body_camera month  year
0        3          Tim Elliot 2015-02-01  ...       False     2  2015
1        4    Lewis Lee Lembke 2015-02-01  ...       False     2  2015
2        5  John Paul Quintero 2015-03-01  ...       False     3  2015
3        8     Matthew Hoffman 2015-04-01  ...       False     4  2015
4        9   Michael Rodriguez 2015-04-01  ...       False     4  2015
...    ...                 ...        ...  ...         ...   ...   ...
2530  2822    Rodney E. Jacobs 2017-07-28  ...       False     7  2017
2531  2813               TK TK 2017-07-28  ...       False     7  2017
2532  2818  Dennis W. Robinson 2017-07-29  ...       False     7  2017
2533  2817       Isaiah Tucker 2017-07-31  ...        True     7  2017
2534  2815        Dwayne Jeune 2017-07-31  ...       False     7  2017

[2535 rows x 16 columns]